<div class="auth">
  <div class="auth-card">
    <div class="logoText text-center">
      <img src="../../../../assets/images/logoText.png" alt="logo" class="logo" />
    </div>
    <div>
      <h3 >Reset Password</h3>
      <p>Please Enter Your Otp or Check Your Inbox</p>
    </div>
    <div>
        <!-- <p class="text-danger" *ngIf="errorMsg">{{errorMsg}}</p> -->
      <form [formGroup]="resetPasswordForm" (ngSubmit)="submitForm(resetPasswordForm)">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-mobile-screen"></i></span>
          <input
          formControlName="email"
            type="email"
          [readonly]="true"
            class="form-control"
            placeholder="Enter your E-mail"
            aria-label="Email"
            aria-describedby="basic-addon1"
          />
        </div>
        <div  *ngIf="resetPasswordForm.get('email')?.errors && resetPasswordForm.get('email')?.touched">
             <p class="text-danger" *ngIf="resetPasswordForm.get('email')?.errors?.['required']">Email is required</p>
             <p class="text-danger" *ngIf="resetPasswordForm.get('email')?.errors?.['email']">Email is invalid</p>
        </div>

         <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock"></i></span>
          <input
          formControlName="seed"
            type="text"
            class="form-control"
            placeholder="OTP"
            aria-label="Otp"
            aria-describedby="basic-addon1"
          />
        </div>
        <div  *ngIf="resetPasswordForm.get('seed')?.errors && resetPasswordForm.get('seed')?.touched">
             <p class="text-danger" *ngIf="resetPasswordForm.get('seed')?.errors?.['required']">OTP is required</p>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock"></i></span>
          <input
          formControlName="password"
            type="password"
            class="form-control"
            placeholder="Password"
            aria-label="Password"
            aria-describedby="basic-addon1"
          />
        </div>
        <div  *ngIf="resetPasswordForm.get('password')?.errors && resetPasswordForm.get('password')?.touched">
             <p class="text-danger" *ngIf="resetPasswordForm.get('password')?.errors?.['required']">Password is required</p>
             <p class="text-danger" *ngIf="resetPasswordForm.get('password')?.errors?.['pattern']">Password is invalid</p>
        </div>
       
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock"></i></span>
          <input
          formControlName="confirmPassword"
            type="password"
            class="form-control"
            placeholder="Confirm-Password"
            aria-label="confirmPassword"
            aria-describedby="basic-addon1"
          />
        </div>
        <div  *ngIf="resetPasswordForm.get('confirmPassword')?.dirty && resetPasswordForm.get('confirmPassword')?.touched">
             <p class="text-danger" *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['required']">Password is required</p>
             <p class="text-danger" *ngIf="resetPasswordForm.get('confirmPassword')?.value!== resetPasswordForm.get('password')?.value">Passwords do not match</p>
        </div>

        <button class="app-primary-button mb-4" [disabled]="!resetPasswordForm.valid" type="submit">Reset Password</button>
      </form>
    </div>
  </div>
</div>