<div class="auth">
  <div class="auth-card">
    <div class="logoText text-center">
      <img src="../../../../assets/images/logoText.png" alt="logo" class="logo" />
    </div>
    <div>
      <h3 >Forgot your password</h3>
      <p>No worries! Please enter your email and we will send a password reset link</p>
    </div>
    <div>
        <!-- <p class="text-danger" *ngIf="errorMsg">{{errorMsg}}</p> -->
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="submit(forgotPasswordForm)">
        <div class="input-group mb-1">
          <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-mobile-screen"></i></span>
          <input
          formControlName="email"
            type="email"
            class="form-control"
            placeholder="Enter your E-mail"
            aria-label="Email"
            aria-describedby="basic-addon1"
          />
        </div>
        <div  *ngIf="forgotPasswordForm.get('email')?.errors && forgotPasswordForm.get('email')?.touched">
             <p class="text-danger" *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">Email is required</p>
             <p class="text-danger" *ngIf="forgotPasswordForm.get('email')?.errors?.['email']">Email is invalid</p>
        </div>
       

        <button class="app-primary-button " [disabled]="!forgotPasswordForm.valid" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>