<div class="auth">
  <div class="auth-card">
    <div class="logoText text-center">
      <img src="../../assets/images/logoText.png" alt="logo" class="logo" />
    </div>
    <div>
      <h3 >Log in</h3>
      <p>Welcome Back! Please enter your details</p>
    </div>
    <div>
        <p class="text-danger" *ngIf="errorMsg">{{errorMsg}}</p>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
        <div class="input-group mb-1">
          <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-mobile-screen"></i></span>
          <input
          formControlName="email"
            type="email"
            class="form-control"
            placeholder="Enter your E-mail"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>
        <div  *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched">
             <p class="text-danger" *ngIf="loginForm.get('email')?.errors?.['required']">Email is required</p>
             <p class="text-danger" *ngIf="loginForm.get('email')?.errors?.['email']">Email is invalid</p>
        </div>
       
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock"></i></span>
          <input
          formControlName="password"
            [type]="showPassord? 'text':'password'"
            class="form-control position-relative"
            placeholder="Password"
            aria-label="Username"
            aria-describedby="basic-addon1"
          /><span (click)="toggleShowPassword()"><i class="fa-solid position-absolute end-0 pt-2" [class]="!showPassord? ' fa-eye':'fa-eye-slash'"></i></span>
        </div>
        <div  *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched">
             <p class="text-danger" *ngIf="loginForm.get('password')?.errors?.['required']">Password is required</p>
             <p class="text-danger" *ngIf="loginForm.get('password')?.errors?.['pattern']">Password is invalid</p>
        </div>

        <div class="links">
          <a  routerLink="/auth/register" class="text-darkGray">Register Now?</a>
          <a routerLink="/auth/forgot-password" class="text-green">Forgot Password?</a>
        </div>

        <button class="app-primary-button " [disabled]="!loginForm.valid">Login</button>
      </form>
    </div>
  </div>
</div>