section .mat-icon{
    width:30px !important;
    height: 30px !important;
    border:1px solid #CC0000;
    border-radius: 50% ;
    -webkit-border-radius: 50% ;
    -moz-border-radius: 50% ;
    -ms-border-radius: 50% ;
    -o-border-radius: 50% ;
    color: #CC0000 !important;
    cursor: pointer;
  padding: 2px;
}

h3{
    font-weight: 500;
}
img{
    width:200px
}
h3{
    margin:0;
}