<section *ngIf="isOpen">
    <div class="text-end">
        <a (click)="onClose()"><i class="fa-solid fa-xmark"></i></a>
  <div class="text-center">
    <img class="" src="../../../../assets/images/delete-img.png" alt="" />
  </div>
  <div class="text-center">
    <h5>Delete </h5><span> {{item.name}}</span>
    <p>
      are you sure you want to delete</p><span> {{item.name}}</span> <p> ? if you are sure just click on
      delete it
    </p>
  </div>
  <div><hr>
  <button (click)="onDelete()" class="btn btn-outline-danger text-end ">Delete this item</button>

  </div>
  </div>
</section>

<!-- <p>{{item?.name}}</p> -->
<!-- <div
  class="modal fade"
  [id]="modalId"
  tabindex="-1"
  aria-hidden="true">

  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">

        <h5 class="modal-title">
          Delete Item
        </h5>

        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal">
        </button>

      </div>

      <div class="modal-body">

        Are you sure you want to delete
        {{ item?.name }} ?

      </div>

      <div class="modal-footer">

        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal">

          Cancel

        </button>

        <button
          type="button"
          class="btn btn-danger"
          (click)="deleteItem()">

          Delete

        </button>

      </div>

    </div>
  </div>
</div> -->
