<section *ngIf="isOpen">
    <div class="text-end">
        <a (click)="onClose()"><i class="fa-solid fa-xmark"></i></a>
  <div class="text-center">
    <img class="" src="../../../../assets/images/delete-img.png" alt="" />
  </div>
  <div class="text-center">
    <h5>Delete <span> {{item.name}}</span></h5>
    <p>
      are you sure you want to delete</p><span> {{item.name}}</span> <p> ? if you are sure just click on
      delete it
    </p>
  </div>
  <div><hr>
  <button (click)="onDelete()" class="btn btn-outline-danger text-end ">Delete this item</button>

  </div>
  </div>
</section>

