<nav class="">
  
    <div class="row m-3 justify-content-between align-items-center">
      <div class="col col-md-8 ">
      <form class="searchInput" role="search">
        <span class="position-absolute top-1 start-1"
          ><i class="fa-brands fa-sistrix"></i
        ></span>
        <input
          class="form-control"
          type="search"
          placeholder="Search here"
          aria-label="Search"
        />
      </form>
    </div>
      <div class=" col col-md-4">
        <div class="row text-end align-items-center">
          <div class="col-md-9  dropdown-center ">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <img class="" *ngIf="userStorage.imagePath" src="{{imageBaseUrl}}{{userStorage.imagePath}}" alt="" />
              <img *ngIf="!userStorage.imagePath" src="../../../assets/images/profile-Img.png" alt="" />
              {{ userName }}
              <!-- <ng-template #text> 
                <div class="initialpic">{{userName?.substring(0,2)?.toUpperCase()}}</div>
              </ng-template> -->
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">profile</a></li>
              <li><a class="dropdown-item" (click)="logOut()">Log out</a></li>
            </ul>
          </div>

          <span class="col-md-1 position-relative">
            <i class="fa-solid fa-bell fa-lg"></i>

            <!-- <span
              class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle"
            >
              <span class="visually-hidden">New alerts</span>
            </span> -->
          </span>
        </div>
      </div>
    </div>
 
</nav>
