<div class="auth">
  <div class="auth-card">
    <div class="logoText text-center">
      <img src="../../../../assets/images/logoText.png" alt="logo" class="logo" />
    </div>
    <div>
      <h3 >Verify Account</h3>
      <p>Please Enter Your Otp or Check Your Inbox</p>
    </div>
    <div>
        <!-- <p class="text-danger" *ngIf="errorMsg">{{errorMsg}}</p> -->
      <form [formGroup]="verifyAccountForm" (ngSubmit)="submitFom(verifyAccountForm)">
        <div class="input-group mb-1">
          <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-mobile-screen"></i></span>
          <input
          formControlName="email"
            type="email"
            class="form-control"
            placeholder="Enter your E-mail"
            aria-label="Email"
            aria-describedby="basic-addon1"
          />
        </div>
        <div  *ngIf="verifyAccountForm.get('email')?.errors && verifyAccountForm.get('email')?.touched">
             <p class="text-danger" *ngIf="verifyAccountForm.get('email')?.errors?.['required']">Email is required</p>
             <p class="text-danger" *ngIf="verifyAccountForm.get('email')?.errors?.['email']">Email is invalid</p>
        </div>
       
<div class="input-group mb-1">
          <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-mobile-screen"></i></span>
          <input
          formControlName="code"
            type="text"
            class="form-control"
            placeholder="OTP"
            aria-label="code"
            aria-describedby="basic-addon1"
          />
        </div>
        <div  *ngIf="verifyAccountForm.get('code')?.errors && verifyAccountForm.get('code')?.touched">
             <p class="text-danger" *ngIf="verifyAccountForm.get('code')?.errors?.['required']">OTP is required</p>
     </div>
        <button class="app-primary-button " [disabled]="!verifyAccountForm.valid" type="submit">Send</button>
      </form>
    </div>
  </div>
</div>