<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <div class="row">
      <form class="col-md-10 position-relative" role="search">
        <span class="position-absolute top-1 start-1"
          ><i class="fa-brands fa-sistrix"></i
        ></span>
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search here"
          aria-label="Search"
        />
      </form>
      <div class="col-md-2">
        <img alt="" />
      </div>
    </div>
  </div>
</nav>
