<section class="">
  <div class="row align-items-center">
    <div class=" col-md-8">
      <div>
        <h1>Welcome <span>{{userName}}</span></h1>
        <p>
          This is a welcoming screen for the entry of the application , <br>you can
          now see the options
        </p>
      </div>
    </div>

    <div class="col-md-4">
      <img src="../../../assets/images/home-img.png" />
    </div>
  </div>
 
</section>
<section >
     
  <div class="row align-items-center">
    <div class="col-8">
        <h3>Show the<span> Recipes</span>  !</h3>
            <p>you can now fill the meals easily using the table and form ,<br> click here and sill it with the table !</p>

    </div>

    <div class="col-4">
        <div class="text-end">
        <button class="btn btn-success">Recipes  <i class="fa-solid fa-arrow-right-long"></i></button>
        </div>
    </div>
  </div>
</section>
